@charset "utf-8";
/* CSS Document */
.toggle-check{
	position:relative;
}
.toggle-check input {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.toggle-check label {
	padding: 2px;
	width: 120px;
	height: 60px;
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.toggle-check label:before,
.toggle-check label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
.toggle-check label:before {
  background-color: #dddddd;
  content: attr(data-off);
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.toggle-check label:after {
  background-color: #8ce196;
  content: attr(data-on);
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.toggle-check input:checked + label:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.toggle-check input:checked + label:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
