
@charset "utf-8";
/* CSS Document */
.toggle-check{
}
.toggle-check input {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.toggle-check label {
	
	position:relative;
  padding: 2px;
  width: 80px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
 display: block;
}
.toggle-check label:before,
.toggle-check label:after {
 display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.toggle-check label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
.toggle-check label:after {
  width: 33px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}

.toggle-check input:checked + label:before {
   background-color: #8ce196;
}
.toggle-check input:checked + label:after {
 margin-left: 50px;
}