.HSSWidget .show_on input {
  display: none !important;
}
.HSSWidget .row {
  min-height: 40px;
  margin-top: 20px;
}
.HSSWidget .row:before, .HSSWidget .row:after {
  content: " ";
  display: table;
  clear: both;
}
.HSSWidget .row label, .HSSWidget .row input {
  float: left;
}
.HSSWidget .row label {
  float: left;
  width: 60%;
  font-size: 16px;
  font-weight: bold;
}
.HSSWidget input[type=checkbox] {
  display: none;
}
.HSSWidget input + .for_label .toggle-check {
  border: none!important;
  width: 90px;
  padding: 2px;
  height: 35px;
  outline: none!important;
  display: block;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.HSSWidget input + .for_label .toggle-check:after {
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  bottom: 10px;
  right: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 35px;
  border-radius: 30px;
  padding-left: 10px;
  background: url(setting.png);
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.HSSWidget .get_shortcode {
  margin-left: 20px !important;
}
.HSSWidget input + .for_label .toggle-check:after {
  background-color: #888888;
  content: attr(data-off);
  background-position: 0%;
  text-align: right;
}
.HSSWidget .wp-core-ui .button, .HSSWidget .wp-core-ui .button-primary, .HSSWidget .wp-core-ui .button-secondary {
  font-size: 14px !important;
}
.HSSWidget input:checked + .for_label .toggle-check:after {
  background-color: #0096d7;
  content: attr(data-on);
  background-position: 100%;
  text-align: left;
}
.HSSWidget input + .for_label .show_on {
  transition: 1s all;
  overflow: hidden;
  height: 0px;
  margin: 0px;
  min-height: 0px;
}
.HSSWidget input:checked + .for_label .show_on {
  height: 279px;
  padding-top: 10px;
  padding-left: 5px;
}
.HSSWidget .show_on label {
  width: auto;
  margin-right: 30px;
  border: 1px solid rgba(176, 168, 168, 0.71);
}
.HSSWidget .show_on input[type="radio"]:checked + label, .HSSWidget .show_on input[type="radio"] + label:hover {
  border-color: #d4e477;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(55, 139, 215, 0.9);
  -moz-box-shadow: 0px 0px 7px 0px rgba(55, 139, 215, 0.9);
  box-shadow: 0px 0px 7px 0px rgba(55, 139, 215, 0.9);
}
