@charset "utf-8";
/* CSS Document */



.zmshbt.default{
	
}
.zmshbt.default.left, .zmshbt.default.right{
	top: 30%;
	z-index:9999;
	position: fixed;
	
	-moz-transition: all .25s linear .5s;
	-webkit-transition: all .25s linear .5s;
	transition: all .25s linear .5s;
	
}

.zmshbt.default.left {
	left: -25px;
}
.zmshbt.default.left:hover {
	left: 0;
}
.zmshbt.default.right {
	right: -25px;
}
.zmshbt.default.right:hover {
	right: 0;
}

.zmshbt.default.in_widget a{
	display:inline-block;
	margin: 5px;
}
.zmshbt.default a {
	width: 32px;
	height: 32px;
	display: block;
	background-size:cover;
	margin: 10px;
	
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
}

.zmshbt.default a:hover, .zmshbt.default a:active{
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5)
}