 @charset "utf-8";
/* CSS Document */



.zmshbt.The_Pink_Group{
	
}
.zmshbt.The_Pink_Group.left, .zmshbt.The_Pink_Group.right{
	z-index:9999;
	position: fixed;
	top: 30%;
	-moz-transition: all .25s linear .5s;
	-webkit-transition: all .25s linear .5s;
	transition: all .25s linear .5s;
	
	z-index:9999;
	-moz-box-shadow:0 0 10px 7px rgba(205, 65, 224, 0.42) inset, 0 0 4px 3px rgba(242, 181, 245, 1);
	-webkit-box-shadow:0 0 10px 7px rgba(205, 65, 224, 0.42) inset, 0 0 4px 3px rgba(242, 181, 245, 1);
	box-shadow:0 0 10px 7px rgba(84,50,220,0.85) inset, 0 0 4px 3px rgba(184,217,60,0.88);
}

.zmshbt.The_Pink_Group.left {
	left: -25px;
}
.zmshbt.The_Pink_Group.left:hover {
	left: 5px;
}

.zmshbt.The_Pink_Group.right {
	right: -25px;
}
.zmshbt.The_Pink_Group.right:hover {
	right: 5px;
}

.zmshbt.The_Pink_Group a {
	width: 32px;
	height: 32px;
	background-size:cover;
	
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
	
}
.zmshbt.The_Pink_Group.in_widget a{
	display:inline-block;
	margin: 5px;
	
	   -moz-transform:rotate(-30deg);
		-ms-transform:rotate(-30deg);
		 -o-transform:rotate(-30deg);
	-webkit-transform:rotate(-30deg);
			transform:rotate(-30deg);
}
.zmshbt.The_Pink_Group.left a, .zmshbt.The_Pink_Group.right a{
	display: block;
	margin: 10px;
}
.zmshbt.The_Pink_Group a:hover, .zmshbt.The_Pink_Group a:active {
	   -moz-transform:rotate(30deg) scale(1.5);
		-ms-transform:rotate(30deg) scale(1.5);
		 -o-transform:rotate(30deg) scale(1.5);
	-webkit-transform:rotate(30deg) scale(1.5);
			transform:rotate(30deg) scale(1.5);
}